@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "Spartan", sans-serif;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: 0.2s;
}



/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0px 5px  15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

#navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

#navbar li {
    list-style: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: color .7s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::before,
#navbar li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    border-radius:20px;
    background: #088178;
    position: absolute;
    transform-origin: left;
    bottom: -4px;
    left: 0px;
    transition: width 9s ease-out;
}


#hero{
    background: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    color: #088178;
}

#hero button{
    background: url("../img/button.png");
    /* background: transparent; */
    color: #088178;
    border: 0;
    padding: 14px 80px 13px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
}

.fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

.fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background: #fddde4;
}

.fe-box:nth-child(2) h6{
    background: #cdebbc;
}

.fe-box:nth-child(3) h6{
    background: #d1e8f2;
}

.fe-box:nth-child(4) h6{
    background: #cdd4f8;
}

.fe-box:nth-child(5) h6{
    background: #f6dbf6;
}

.fe-box:nth-child(6) h6{
    background: #fff2e5;
}

/* product1 */
#product1{
    text-align: center;

}

.pro-container{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: relative;
}

.pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img{
    width: 100%;
    border-radius: 20px;
}

.des{
    text-align: start;
    padding: 10px 0px;
}

.des span{
    color: #606063;
    font-size: 12px;
    font-weight: 500;
}

.des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.des i {
    font-size: 12px;
    color: rgba(243, 181, 25);
}

.des h4{
    padding-top: 7px;
    font-size: 14px;
    font-weight: 700;
    color: #088178;
}

.cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: #e8f6ea;
    font-weight: 500;
    color: #088178;
    padding-right: 2.5px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("../img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

/* sm-banner */
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background: url("../img/banner/b17.jpg");
    min-width:48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.baner-img{
    background: url("../img/banner/b10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

.normal2{
    padding: 11px 26px;
    border: 2px  solid #fff;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all .7s;
}

.banner-box:hover .normal2{
    transform: translateY(-7px);
    border-radius: 100px 0px  100px;
}



/* banner3 */
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background: url("../img/banner/b7.jpg");
    min-width:32%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #ef3636;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2{
    background: url("../img/banner/b4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#banner3 .banner-box3{
    background: url("../img/banner/b18.jpg");  
    background-position: center; 
    background-repeat: no-repeat;
}


/* newsletter */

#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url("../img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

#newsletter p{
    font-size: 14px;
    color: #818ea0;
    font-weight: 600;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form{
    display: flex;
    width: 40%;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

#footer .logo{
    margin-bottom: 30px;
}

#footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

#footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

#footer a {
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    color: #222;
    margin-bottom: 10px;
}

.follow{
    margin-top: 20px;
    
}

.follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

.col-install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

.col-install  img{
    display: inline-block;
    margin: 10px 0px 15px 0;
}

#footer .follow i{
    font-size: 26px;
}

#footer .follow i:hover,
#footer a:hover{
    color: #088178;
}

.copyright{
    text-align: center;
    width: 100%;
}


/* mobile */
#mobile{
    display: none;
    align-items: center;
}

#mobile i {
    color: #1a1a1a;
    font-size: 26px;
    padding-left: 20px;
}

#close{
    font-size: 35px;
    font-weight: 500;
    color: #041e42;
    position: absolute;
    top: 30px;
    left: 40px;
    display: none;
}


.cartla i {
    font-size: 20px;
}



/* Media */

@media(max-width: 425px) {

    #hero h2{
        padding: 0px 20px;
        font-size: 22px;
        line-height: 1;
        padding: 0px;
        margin-bottom: 10px;
    }

    #hero h4{
        font-size: 16px;
        margin-bottom: 12px;
    }

    #hero h1{
        font-size: 36px;
        line-height: 1.3;
    }

    .fe-box{
        width: 100%;
        margin: 15px;
    }

    #banner h2{
        font-size: 20px;
    }

}


@media(max-width: 799px) {

    #header{
        padding: 20px 30px 20px 10px;
    }

    #navbar{
        display: block;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -3000px;
        height: 100vh;
        width: 300px;
        background: #E3E6F3;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 40px;
        transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .cartla i {
        font-size: 30px;
    }


    #navbar.active{
        right: 0;
    }

    #mobile{
        display: block;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #close i{
        font-size: 35px;
        font-weight: 500;
        color: #041e42;
    }
    
    #close{
        display: initial;
    }


    /* hero */
    #hero{
        height: 70vh;
        padding: 0 40px 0px 20px;
        background-position: top 30% right 35%;
    }

    #feature{
        justify-content: center;
    }


    .fe-box{
        margin: 15px;
    }


    .section-p1{
        padding: 40px 80px;
    }
    

    .pro-container{
        justify-content: center;
    }

    .pro{
        margin: 15px;
    }

    #sm-banner{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    .banner-box h4{
        font-size: 14px;
    }

    .banner-box h2{
        font-size: 20px;
    }

    #banner3{
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }


}